#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

body{
  background-color: rgb(70, 113, 114);
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
.grid > div{
  padding: 10px;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btns>button{
  margin: 5px;
}